<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Khởi tạo tham số giá trị ban đầu-->
    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/webbanhang</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.pass</param-name>
        <param-value>152132488</param-value>
    </context-param>
    <!--Tạo 1 class lắng nghe khi khởi động web-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationProcessing</servlet-name>
        <servlet-class>Controls.RegistrationProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessing</servlet-name>
        <servlet-class>Controls.LoginProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginExist</servlet-name>
        <servlet-class>Controls.LoginExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcessing</servlet-name>
        <servlet-class>Controls.LogoutProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileProceesing</servlet-name>
        <servlet-class>Controls.ProfileProceesing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>Controls.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Email.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationCodeProcessing</servlet-name>
        <servlet-class>Controls.ConfirmationCodeProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controls.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationProcessing</servlet-name>
        <url-pattern>/XuLyDangKy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessing</servlet-name>
        <url-pattern>/XuLyDangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginExist</servlet-name>
        <url-pattern>/LoginExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcessing</servlet-name>
        <url-pattern>/XuLyDangXuat</url-pattern>
    </servlet-mapping>
    <!--Trang hiển thị profile-->
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/WEB-INF/Profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <!--Time out-->
    <servlet-mapping>
        <servlet-name>ProfileProceesing</servlet-name>
        <url-pattern>/ProfileProceesing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationCodeProcessing</servlet-name>
        <url-pattern>/XuLyMaXacNhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
